autoortho-scenery (flightwusel packages)
-----------------------------------------------------------------------------------------------------------------------
ZL=16
VARIANT=o4xp1.40beta1-fallback1.3 (for X-Plane 12)
VERSION=1.0
-----------------------------------------------------------------------------------------------------------------------
Links:
  build system source code: https://github.com/jonaseberle/autoortho-scenery/
  latest release: https://github.com/jonaseberle/autoortho-scenery/releases/
  forum post: https://forums.x-plane.org/forums/topic/346802-autoortho-scenery-flightwusel-packages-for-x-plane-12-as-torrent-downloads/

Installation:
  This does not use the AutoOrtho installer. You need to install it manually.
  You can/should remove the original scenery packages downloaded via the AutoOrtho installer.
  It could be that the installer does not work with it afterwards.
  The original packages are basically not compatible with this because they cover different areas!

  I cannot be held responsible for any problems.

  Please understand first how AutoOrtho works and how you have to set up a new scenery package.
  Many questions are answered in this post:
  https://forums.x-plane.org/forums/topic/303551-when-you-have-a-problem-with-autoortho-%E2%80%93-please-read/
  Please inform yourself and refrain from posting lazy "does not work" posts on the forums unless you have at least
  spent half an hour yourself trying to correct a problem.

  in short:
  * Put the folder into your configured AutoOrtho paths.scenery_path from your AutoOrtho config file
    (by default <X-Plane>/Custom Scenery/z_autoortho/scenery/).
  * Arrange your `scenery_packs.ini`: see the block about it in the mentioned forum post above.


Notice:
  These tiles do not contain the overlay exports! I recommend enjoying them with the simHeaven X-WORLD overlays.
  If you do not add overlays, you will NOT see roads, forests, houses, ...!

-----------------------------------------------------------------------------------------------------------------------

Attribution:
  Thanks to Matt (kubilus) for developing AutoOrtho.

  eur/greenland:
    This scenery contains elevation data by Sonny, released under Creative Commons Attribution 4.0
    (CC BY 4.0 https://creativecommons.org/licenses/by/4.0/deed.en), downloaded from sonny.4lima.de.
    Please consider a donation to Sonny if you like the European mesh!

  viewfinderpanoramas.org 1" for North America, New Zealand and Antarctica
    https://viewfinderpanoramas.org/Coverage%20map%20viewfinderpanoramas_org1.htm
    https://viewfinderpanoramas.org/Coverage%20map%20viewfinderpanoramas_org3.htm
    https://viewfinderpanoramas.org/ by Jonathan de Ferranti

  Thanks to all OpenStreetMaps contributors!

Contained fixes:
  +27+086: Contains the VNLK Lukla patch by Vlad A.
    https://forums.x-plane.org/index.php?/files/file/94169-lukla-vnlk-ortho4xp-patch-xp12/

  +38-010: LPPT patch

  Fixes for various European airports from the spectacular Alps HD ZL17 packages by toadlife.

Known issues:
  eur:
    +45+045
    +66-024: BIIS: rock wall near the airport

Debugging:
  Find Ortho4XP tile configs and test results in the ./_docs folder.

Todo (maybe...):
  Implement many useful O4XP patches: https://forums.x-plane.org/profile/5997-november-lima/content/?type=downloads_file
